<center>
  <h1 class="main_text">Submit an image</h1>
</center>

<blockquote>
  You're welcome to submit an image here, but do keep in mind that it must be reviewed before it will appear
  on the website. I can't guarantee the amount of time it will take to review, but I check pretty often.
</blockquote>
<blockquote>
  I ask for your email address so that you may be notified when your image is approved or denied. I can assure that it
  won't be used for anything else, and it's deleted as soon as your request is dealt with. However, it isn't a required field.
  Do what you will!
</blockquote>
