// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: rgb(0,160,235);
  text-decoration: none;
}
a:hover {
  color: rgb(0,120,235);
  text-decoration: underline;
}
blockquote, p {
  text-indent: 20px;
  font-family: "Baskerville";
  line-height: 25px;
}
h1, h2, h3, h4 {
  font-family: "Didot";
}
img:not(.icon) {
  margin: 20px;
  border: 1px solid gray;
}
img.icon {
  height: 20px;
}
img.show_img {
  width: 400px;
}
.nav_btn {
  text-align: center;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
  font-family: "Baskerville";
  padding-left: 20px;
  padding-right: 20px;
}
