// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face { /* basic text font */
  font-family: "Baskerville";
  src: font-url('Baskerville.ttc');
}
@font-face { /* titles */
  font-family: "Didot";
  src: font-url('Didot.ttc');
}

a {
  color: #21b9ff;
  text-decoration: none;
}
blockquote, p {
  text-indent: 20px;
  font-family: "Baskerville";
  line-height: 25px;
  text-align: justify;
}
h1, h2, h3, h4 {
  font-family: "Didot";
}
.garf {
  margin: 20px;
  border: 1px solid gray;
  object-fit: cover;
}
.garf_show {
  width: 400px;
  max-width: 100%;
}
.garf:hover {
  border: 1px solid lightblue;
}
.nav_btn {
  text-align: center;
  border-radius: 2px;
  background-color: #009dff;
  color: white;
  box-shadow: 0 0 5px gray;
  padding: 4px 25px;
  font-family: "Baskerville";
}
.nav_btn:hover {
  box-shadow: 0 0 3px black;
}
.icon {
  height: 20px;
  width: auto;
  position: relative;
  top: 5px;
}

/* for nsfw page */
#nsfw {
  background-color: black;
  color: white;
}
#back {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid black;
  font-family: "Baskerville";
  font-size: 1em;
}
