// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: rgb(0,160,235);
  text-decoration: none;
}
blockquote, p {
  text-indent: 20px;
  font-family: "Baskerville";
  line-height: 25px;
  text-align: justify;
}
h1, h2, h3, h4 {
  font-family: "Didot";
}
.garf {
  margin: 20px;
  border: 1px solid gray;
  object-fit: cover;
}
.garf_show {
  width: 400px;
}
.garf:hover {
  border: 1px solid lightblue;
}
.nav_btn {
  text-align: center;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
  font-family: "Baskerville";
  padding-left: 20px;
  padding-right: 20px;
}
.icon {
  height: 20px;
  width: auto;
  position: relative;
  top: 5px;
}

/* for nsfw page */
#nsfw {
  background-color: black;
  color: white;
}
#back {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid black;
  font-family: "Baskerville";
  font-size: 1em;
}
