<body id="nsfw">
<% content_for :title, "why are you here" %>

<button id="back" onclick="window.location = '/'">Back to sanity</button>

<center>
  <h2>Welcome to the</h2>
  <h1>Garfield Cursed Image Gallery!</h1>
</center>

<br>
<blockquote>
  funny nsfw cat
  <!--Over the past few months, I've been collecting so-called "cursed images" of Garfield, everyone's favorite Monday-hating
  comic strip cat. These are images that may be somewhat disturbing or otherworldly, or just plain strange. If you have a good image that you think should be on the site, or if you have a suggestion for the appearance of the site, send me an email at <a href="mailto:info@garfieldcursedimage.org">info@garfieldcursedimage.org</a>.
  Otherwise, I usually find new images to add pretty often. Anyway, enjoy the nightmare fuel!-->
</blockquote>
<br>
<!-- IMAGES -->
<center>
<% @images.each do |f| %>
  <%= link_to image_tag(f.path, size: "300x300", title: f.name, :class => "garf"), image_path(f.id) %>
<% end %>
</center>
</body>
