<% content_for :title, "why are you here" %>

<center>
  <h2>Welcome to the</h2>
  <h1>Garfield Cursed Image Gallery!</h1>
</center>

<br>
<blockquote>
  <!--funny orang cat-->
  Over the past few months, I've been collecting so-called "cursed images" of Garfield, everyone's favorite Monday-hating
  comic strip cat. These are images that may be somewhat disturbing or otherworldly, or just plain strange. If you have a good image that you think should be on the site, or if you have a suggestion for the appearance of the site, send me an email at <a href="mailto:info@garfieldcursedimage.org">info@garfieldcursedimage.org</a>.
  Otherwise, I usually find new images to add pretty often. Anyway, enjoy the nightmare fuel!
</blockquote>
<br>

<blockquote>
  <center>
  <h2>Featured: Stay Safe</h2>
  <%= image_tag("featured/stay_safe.jpg", style: "max-width: 100%; width: 500px;", title: "garf wearing mask") %>
  </center>
</blockquote><br>

<hr><br>
<!-- IMAGES -->
<center>
<% @images.each do |f| %>
  <%= link_to image_tag(f.path, size: "300x300", title: f.name, :class => "garf"), image_path(f.id) %>
<% end %>
</center>

<br><hr><br>
<blockquote>
  <b><i>FULL DISCLAIMER:</i></b> I am not gaining any money whatsoever from this site, or from the images on this site.
  If you see an image here that you created, that's great! But please keep in mind that this site was created only for fun,
  as a side project to work on in my spare time. I find these images mostly on online browsing sites, or a friend sends
  them to me. I do not intend to have any monetary gain from it. Thank you.
</blockquote>
<br>
